.usersArea {
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 50px;
}

.itemsArea {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.buttonArea {
    width: 100%;
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.button {
    align-self: center;
    width: 120px;
    font-size: 14px;
    padding: 10px;
    background-color: #FFB703;
    border-radius: 10px;
    box-shadow: none;
    border: 2px solid #FFB703;
}

.button:hover {
    cursor: pointer;
}