$yellow: #ffb703;
$white: #fff;
$light-gray: #f0f0f0;
$gray: #858585;
$blue: #023047;
$black: #000;
$red: rgb(234, 59, 59);

$font-poppins: 'Poppins', sans-serif;
$font-josefin: 'Josefin Sans', sans-serif;

$basic-width: 850px;
$sidebar-width: 225px;
$border-radius: 15px;
$bold: 600;

@mixin no-decoration-links {
    text-decoration: none;
    color: $blue;
}

@mixin error-message {
    align-self: center;
}

@mixin pointer-cursor {
    cursor: pointer;
}

@mixin yellow-border {
    border: 3.5px solid $yellow;
}

@mixin red-border {
    border: 2px solid $red;

    &:focus {
        border: 2px solid $red;
        outline: none;
    }
}

@mixin app-logo {
    font-family: $font-josefin;
    font-size: 30px;
    font-weight: 700;
    color: $blue;
}

@mixin title-page {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    padding: 30px;
    background-size: cover;
    border-radius: $border-radius;
    overflow: hidden;
}

@mixin title-page-name {
    color: $black;
    font-size: 30px;
    font-weight: $bold;
}

@mixin post-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    border-bottom: 1px solid $light-gray;
    padding-bottom: 25px;
}

@mixin post-item-body {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin post-item-text {
    width: auto;
    padding: 10px;
    margin-left: 50px;
    font-size: 15px;
    align-self: center;
    background-color: $light-gray;
    border-radius: $border-radius;
}

@mixin basic-container {
    margin-bottom: 80px;
    width: $basic-width;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@mixin basic-item-list {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@mixin basic-item-title {
    font-size: 18px;
    font-weight: $bold;
}

@mixin basic-item-description {
}

@mixin basic-item {
    background-color: $light-gray;
    max-width: $basic-width;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: $border-radius;
    border: 3.5px solid $white;

    &:hover {
        @include pointer-cursor;
        @include yellow-border;
    }
}

@mixin nav-item {
    max-width: $sidebar-width;
    font-size: 18px;
    font-weight: $bold;
    padding: 8px;
    border-radius: $border-radius;
}

@mixin active-nav-item {
    @include nav-item;
    background-color: $yellow;
}

@mixin message-item {
    font-size: 14px;
    width: fit-content;

    padding: 10px 15px;
    background-color: $light-gray;
    border-radius: $border-radius;
}

@mixin reaction {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    gap: 5px;
}

@mixin textarea-container {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@mixin textarea {
    min-width: 100%;
    padding: 10px;
    height: 100%;
    border: 2px solid $light-gray;
    outline: none;
    border-radius: $border-radius;
    overflow: hidden;
    font-size: 14px;
    resize: none;

    &:focus {
        border: 2px solid $yellow;
        outline: none;
    }
}

@mixin small-profile-picture {
    width: 55px;
    height: 55px;
    min-width: 55px;
    border-radius: 45%;
    object-fit: cover;
}

@mixin big-profile-picture {
    width: 200px;
    height: 200px;
    min-width: 200px;
    border-radius: 45%;
    object-fit: cover;
}
