@use 'base' as base;

.pagination-area {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

    .pagination-arrows {
        display: flex;
        align-items: center;
        img {
            width: 45px;
            height: 45px;
            cursor: pointer;
        }
    }

    .disabled {
        opacity: 0;
    }

    .pagination-page {
        font-size: 22px;
        cursor: pointer;
    }

    .selected {
        font-weight: base.$bold;
    }

    .default-cursor {
        cursor: default;
    }
}
