@use 'base' as base;
@use 'buttons' as buttons;
@use 'errors' as errors;
@use 'text' as text;

.profile-area {
    @include base.basic-container;

    .profile-maininfo-area {
        @include base.title-page;

        .profile-maininfo-profilepicture {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;

            img {
                @include base.big-profile-picture;
            }

            .profile-picture-update {
                label {
                    @include buttons.small-button;
                }

                input {
                    display: none;
                }
            }

            .profile-maininfo-edit {
                button {
                    @include buttons.small-button;
                }
            }
        }

        .profile-maininfo {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .profile-maininfo-name {
                @include base.title-page-name;
            }

            .profile-status-area {
                display: flex;
                align-items: center;
                height: 30px;
                justify-content: flex-start;
                .profile-status-text {
                    max-width: 100%;                  
                    &:hover {
                        background-color: base.$light-gray;
                    }
                }

                input {
                    @include base.textarea;
                }
            }

            .profile-maininfo-colored {
                width: auto;
                background-color: base.$light-gray;
                padding: 10px 15px;
                border-radius: base.$border-radius;

                .profile-maininfo-job-area {

                    .bold-text {
                        @include text.bold-text;
                    }

                    .gray-italic-text {
                        @include text.gray-italic-text;
                    }
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
            }
        }

        .profile-editmode-area {
            @include base.basic-item-list;

            label {
                @include text.bold-text;
            }

            .profile-editmode-input {
                @include base.textarea;
            }

            .profile-editmode-job {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .profile-editmode-socials-area {
                .profile-editmode-socials-input{
                    @include base.textarea;
                }
            }

            button {
                @include buttons.button;
                align-self: center;
            }
        }
    }
}