@use 'base' as base;

.sidebar-area {
    @include base.basic-container;
    width: base.$sidebar-width;
    justify-content: center;

    .sidebar-title {
        @include base.basic-item-title;
    }

    .sidebar-list {
        @include base.basic-item-list;
        gap: 0;

        .sidebar-item {
            @include base.basic-item;
            @include base.no-decoration-links;
            width: base.$sidebar-width;

            img {
                @include base.small-profile-picture;
            }
        }
    }
}
