@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

.container {
    background-color: #FFB703;
    overflow: hidden;
  
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #023047;
  }