.content {
    min-width: 500px;
    min-height: 500px;
    max-height: 500px;
    padding: 20px 20px 20px 30px;

    background-color: #fff;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

.messagesArea {
    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow-y: scroll;
}

.messageInput textarea {
    min-width: 100%;
    padding: 10px;
    height: 100%;

    border: 2px solid #E9E9E9;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
    font-size: 14px;

    resize: none;
}

.messageInput textarea:focus {
    outline: none;
    border: 2px solid #FFB703;
}

.messageInput {
    display: flex;
}

.addButton {
    align-self: center;

    border: none;
    outline: none;
    background-color: inherit;
    border-radius: 10px;

    cursor: pointer;
}
