h2 {
    font-weight: 600;
    font-size: 20px;
}

.area {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    font-size: 15px;
    width: 200px;

    padding: 5px;
    background-color: #fff;
    border-radius: 15px;

    display: flex;
    align-items: center;
    gap: 10px;

    white-space: nowrap;
    overflow: hidden;

    transition: background-color 0.5s;
}

.item:hover {
    background-color: #f0f0f0;
}

.item a {
    text-decoration: none;
    color: #000;
}

.item img {
    border-radius: 45%;
    object-fit: cover;
}