.listItem {
    min-width: 200px;
    max-width: 250px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

    white-space: nowrap;
    overflow: hidden;
    border-radius: 10px;
}

.listItem:hover {
    background-color: #f0f0f0;
}

.listItem a {
    text-decoration: none;
    color: #000;
}

.listItem img {
    width: 55px;
    min-width: 55px;
    border-radius: 45%;
    object-fit: cover;
}

.active {
    font-weight: 600;

    width: 200px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

    white-space: nowrap;
    overflow: hidden;
    border-radius: 10px;

}