.listItem {
    width: 200px;

    display: flex;
    align-items: center;
    gap: 10px;

    white-space: nowrap;
    overflow: hidden;
}

.listItem a {
    text-decoration: none;
    color: #000;
}

.dialogUserPicture img {
    border-radius: 50%;
    object-fit: cover;
}

.active {
    font-weight: 600;
    background-color: #E9E9E9;
    padding: 3px;
    border-radius: 10px;
}