.listItem {
    padding: 10px;

    display: flex;
    align-items: center;
}

.listItem a {
    text-decoration: none;
    color: #000;
}

.active {
    padding: 10px;
    font-weight: 600;
}

img {
    
}