.item {
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #E9E9E9;
    border-radius: 15px;

    height: auto;
}

.post {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 20px;
}

.postProfilePicture {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
}

.postMessage {
    font-size: 14px;
    align-self: center;
}

.postDate {
    font-size: 12px;
    color: white;
}

.postLike {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;   
}