.container {
    display: flex;
    gap: 10px;
}

.list {
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.content {
    border-left: 2px solid #f0f0f0;
    width: 100%;
}


