.container {
    display: flex;
    gap: 10px;
}

.list {
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.listItem {
    padding: 10px;
    opacity: .5;
}

.listItem a {
    text-decoration: none;
    color: #000
}

.active {
    padding: 10px;
    opacity: 1;
}

.content {
    width: 70%;
    padding: 20px;

    background-color: #FFE299;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;

}

.message {
    font-size: 14px;
    max-width: 250px;

    padding: 10px 15px;
    background-color: #fff;
    border-radius: 15px;
}