.container {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    padding: 10px 0;
}

.item a {
    padding: 8px;
    font-size: 18px;
    font-weight: 600;

    text-decoration: none;
    color: #023047;
}

.active {
    padding: 8px;
    background-color: #FFB703;
    border-radius: 10px;
}
